body {
    font-family: 'Jost', sans-serif;
}

h2 {
    font-family: 'Cormorant', serif;
}

.header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.header-cart {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 82px;
}

.header-cart_button {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #d26a22;
    border: none;
    border-radius: 100%;
    background-image: url(/img/cart.png);
    background-size: 0.875rem;
    background-repeat: no-repeat;
    background-position: center;
}

.header-cart_count {
    position: absolute;
    top: 2px;
    right: 9px;
    font-size: 0.5rem;
    color: white;
}



.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_tel {
    text-decoration: none;
    color: #27300f;
    transition: 0.3s ease;
    font-weight: 500;
}

.header_tel:hover {
    color: #d26a22;
}

.logo {
    display: block;
    background-repeat: no-repeat;
    background-image: url(/img/logo.svg);
    width: 120px;
    height: 32px;
    margin-right: 120px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    margin-right: 48px;
}

.nav-link {
    text-decoration: none;
    color: #27300f;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: #d26a22;
}

.main-text {
    font-family: 'Cormorant', serif;
    font-size: 5rem;
}

.main-text span {
    font-style: italic;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.main {
    background-image: ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.main-text {
    flex: 0 0 40%;
}

.main-text_description {
    font-size: 1.12rem;
    line-height: 1.51;
    margin-top: 60px;
    margin-bottom: 77px;
}

.btn {
    font-size: 1.12rem;
    color: white;
    background-color: #d26a22;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.3rem 2.68rem;
    border-radius: 2rem;
    letter-spacing: 0.0075rem;
    box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
}

.ml {
    margin-left: 7.6rem;
}